:root {
  --Rosa: #FF385C;
  --Gris: rgba(106, 106, 106, 1);
  --BorderGray: #DFDFDF;
}

@font-face {
  font-family: 'OficialFont';
  src: url('./Airbnb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: OficialFont;
  margin: 0;
  padding: 0;
}


header {
  padding: 20px 80px 100px 80px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Rosa {
  color: var(--Rosa);
}

.Gris {
  color: var(--Gris);
}

.borderGray {
  border: 1px solid #B7B7B7;
}