:root {
  --Rosa: #FF385C;
  --Gris: rgba(106, 106, 106, 1);
}

@font-face {
  font-family: 'OficialFont';
  src: url('./Airbnb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: OficialFont;
}


header {
  padding: 20px 80px 100px 80px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.Rosa {
  color: var(--Rosa);
}

.Gris {
  color: var(--Gris);
}