:root {
  --Rosa: #FF385C;
  --RosaHover: rgba(199, 45, 73, 0.767);
  --GrisHover: #EBEBEB;
  --Gris: rgba(106, 106, 106, 1);
  --BorderGray: #CFCBCB;
  --Fondo: #FFF;
}

@font-face {
  font-family: 'OficialFont';
  src: url('./Airbnb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: OficialFont;
  margin: 0;
  padding: 0;
}


header {
  padding: 20px 80px 100px 80px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.main__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Rosa {
  color: var(--Rosa);
}

.Gris {
  color: var(--Gris);
}

.borderGray {
  border: 1px solid #B7B7B7;
}




.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.jc-spacebetween {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}